@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

.brand-gradient {
  background: linear-gradient(
    90deg,
    #7c3aed,   /* purple */
    #f59e0b,   /* gold */
    #3b82f6,   /* blue */
    #84cc16    /* olive */
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}